<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" type="image/jpg" href="../static/img/greenhouseFavicon.png" />
    <link rel="stylesheet" href="../static/queries.css">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,300;0,400;1,300&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="../static/index.js"></script>
    <title>Greenhouse Website</title>
</head>

<body>
    <header id="home">
        <nav>
            <div class="row">
                <ul class="main-nav">
                    <!-- unordered list = ul, li = elements in the list -->
                    <li><a href="/">Home</a></li>
                    <li><a href="/front">Front Room</a></li>
                    <li><a href="/back">Back Room</a></li>
                    <!-- <li><a href="/outside">Outside</a></li> -->
                </ul>
            </div>
        </nav>
        <div class="hero-text-box">

            <h1>You have entered the</h1>
            <h1>Back Room!</h1>

        </div>
    </header>
    <section class="back" id="back"> <!-- See the code for front.html to see what this does. -->
        <h2>Click on a bed you want to view</h2>
        <div class="rectangle">Entrance</div>
        <div class="item-box-of-6">
            <div class="item-box-of-2">
                <div class="grid-container">
                    <a href='/bed-contents/200' class="grid-item"></a>
                    <a href='/bed-contents/201' class="grid-item"></a>
                    <a href='/bed-contents/202' class="grid-item"></a>
                    <a href='/bed-contents/203' class="grid-item"></a>
                    <a href='/bed-contents/204' class="grid-item"></a>
                    <a href='/bed-contents/205' class="grid-item"></a>
                </div>
                <div class="grid-container">
                    <a href='/bed-contents/206' class="grid-item"></a>
                    <a href='/bed-contents/207' class="grid-item"></a>
                    <a href='/bed-contents/208' class="grid-item"></a>
                    <a href='/bed-contents/209' class="grid-item"></a>
                    <a href='/bed-contents/210' class="grid-item"></a>
                    <a href='/bed-contents/211' class="grid-item"></a>
                </div>
            </div>
            <div class="item-box-of-2">
                <div class="grid-container">
                    <a href='/bed-contents/212' class="grid-item"></a>
                    <a href='/bed-contents/213' class="grid-item"></a>
                    <a href='/bed-contents/214' class="grid-item"></a>
                    <a href='/bed-contents/215' class="grid-item"></a>
                    <a href='/bed-contents/216' class="grid-item"></a>
                    <a href='/bed-contents/217' class="grid-item"></a>
                </div>
                <div class="grid-container">
                    <a href='/bed-contents/218' class="grid-item"></a>
                    <a href='/bed-contents/219' class="grid-item"></a>
                    <a href='/bed-contents/220' class="grid-item"></a>
                    <a href='/bed-contents/221' class="grid-item"></a>
                    <a href='/bed-contents/222' class="grid-item"></a>
                    <a href='/bed-contents/223' class="grid-item"></a>
                </div>
            </div>
            <div class="item-box-of-2">
                <div class="grid-container">
                    <a href='/bed-contents/224' class="grid-item"></a>
                    <a href='/bed-contents/225' class="grid-item"></a>
                    <a href='/bed-contents/226' class="grid-item"></a>
                    <a href='/bed-contents/227' class="grid-item"></a>
                    <a href='/bed-contents/228' class="grid-item"></a>
                    <a href='/bed-contents/229' class="grid-item"></a>
                </div>
                <div class="grid-container">
                    <a href='/bed-contents/230' class="grid-item"></a>
                    <a href='/bed-contents/231' class="grid-item"></a>
                    <a href='/bed-contents/232' class="grid-item"></a>
                    <a href='/bed-contents/233' class="grid-item"></a>
                    <a href='/bed-contents/234' class="grid-item"></a>
                    <a href='/bed-contents/235' class="grid-item"></a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
