<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/bedContentsStyle.css">
<link rel="shortcut icon" type="image/jpg" href="../static/img/greenhouseFavicon.png" />
<body>
    <h1>
        Plant Information
    </h1>
    <p>Bed : {{bedNum}}<br>
       Name : {{name}}<br>
       Plant : {{plant}}<br>
       Date Planted : {{date_planted}}<br>
       Date Finished : {{date_finished}}<br>
       Last Watered : {{last_watered}}<br>
    </p>
    <a id="toForm" href="/auth?bed={{bedNum}}" title="Update Form">
        <button>Update Form</button>
    </a>
</body>
</html>