<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="../static/img/greenhouseFavicon.png" />
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/queries.css">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,300;0,400;1,300&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="../static/index.js"></script>
    <title>Greenhouse Website</title>
</head>

<body>
    <header id="home">
        <nav>
            <div class="row">
                <ul class="main-nav">
                    <!-- unordered list = ul, li = elements in the list -->
                    <li><a href="/">Home</a></li>
                    <li><a href="/front">Front Room</a></li>
                    <li><a href="/back">Back Room</a></li>
                    <li><a href="/outside">Outside</a></li>
                </ul>
            </div>
        </nav>
        <div class="hero-text-box">

            <h1>You have entered the</h1>
            <h1>Front Room!</h1>

        </div>


    </header>
    <section class="front" id="front">
        <h2>Click on the bed you wish to edit</h2>
        <div class="item-box-of-3">
            <div class="img-box-of-3">
                <!-- <script> fillGrid()</script> -->
                <div class="grid-container">
                    <!-- <script> fillGrid()</script> -->
                    <a href='/bed-contents/100'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='/bed-contents/101'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='/bed-contents/102'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='/bed-contents/103'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='/bed-contents/104'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='/bed-contents/105'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                </div>
                <div class="grid-container">
                    <!-- <script> fillGrid()</script> -->
                    <a href='/bed-contents/106'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='/bed-contents/107'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='/bed-contents/108'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='/bed-contents/109'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='/bed-contents/110'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='/bed-contents/111'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                </div>
                <div class="grid-container">
                    <!-- <script> fillGrid()</script> -->
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                </div>
            </div>
            <div class="img-box-of-3">
                <!-- <script> fillGrid()</script> -->
                <div class="grid-container">
                    <!-- <script> fillGrid()</script> -->
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                </div>
                <div class="grid-container">
                    <!-- <script> fillGrid()</script> -->
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                </div>
                <div class="grid-container">
                    <!-- <script> fillGrid()</script> -->
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                    <a href='form.html'><img src="../static/img/bed-section-2.png" class="grid-item"></a>
                </div>
            </div>
            <!-- <img src="../static/img/filler_form.jpg" class = "form"> -->
        </div>
    </section>

</html>