<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="../static/img/greenhouseFavicon.png" />
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/queries.css">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,300;0,400;1,300&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="../static/index.js"></script>
    <title>Greenhouse Website</title>
</head>

<body>
    <header id="home">
        <nav>
            <div class="row">
                <ul class="main-nav">
                    <!-- unordered list = ul, li = elements in the list -->
                    <li><a href="/">Home</a></li>
                    <li><a href="/front">Front Room</a></li>
                    <li><a href="/back">Back Room</a></li>
                    <li><a href="/outside">Outside</a></li>
                </ul>
            </div>
        </nav>
        <div class="hero-text-box">

            <h1>You have entered the</h1>
            <h1>Front Room!</h1>

        </div>


    </header>
    <section class="front" id="front">
        <h2>Click on a bed you want to view</h2>
        <div class="item-box-of-3">
            <div class="img-box-of-3">
                <div class="grid-container">
                    <a href='/bed-contents/100' class="grid-item"></a>
                    <a href='/bed-contents/101' class="grid-item"></a>
                    <a href='/bed-contents/102' class="grid-item"></a>
                    <a href='/bed-contents/103' class="grid-item"></a>
                    <a href='/bed-contents/104' class="grid-item"></a>
                    <a href='/bed-contents/105' class="grid-item"></a>
                </div>
                <div class="grid-container">
                    <a href='/bed-contents/106' class="grid-item"></a>
                    <a href='/bed-contents/107' class="grid-item"></a>
                    <a href='/bed-contents/108' class="grid-item"></a>
                    <a href='/bed-contents/109' class="grid-item"></a>
                    <a href='/bed-contents/110' class="grid-item"></a>
                    <a href='/bed-contents/111' class="grid-item"></a>
                </div>
                <div class="grid-container">
                    <a href='/bed-contents/112' class="grid-item"></a>
                    <a href='/bed-contents/113' class="grid-item"></a>
                    <a href='/bed-contents/114' class="grid-item"></a>
                    <a href='/bed-contents/115' class="grid-item"></a>
                    <a href='/bed-contents/116' class="grid-item"></a>
                    <a href='/bed-contents/117' class="grid-item"></a>
                </div>
            </div>
            <div class="img-box-of-3">
                <div class="grid-container">
                    <a href='/bed-contents/118' class="grid-item"></a>
                    <a href='/bed-contents/119' class="grid-item"></a>
                    <a href='/bed-contents/120' class="grid-item"></a>
                    <a href='/bed-contents/121' class="grid-item"></a>
                    <a href='/bed-contents/122' class="grid-item"></a>
                    <a href='/bed-contents/123' class="grid-item"></a>
                </div>
                <div class="grid-container">
                    <a href='/bed-contents/124' class="grid-item"></a>
                    <a href='/bed-contents/125' class="grid-item"></a>
                    <a href='/bed-contents/126' class="grid-item"></a>
                    <a href='/bed-contents/127' class="grid-item"></a>
                    <a href='/bed-contents/128' class="grid-item"></a>
                    <a href='/bed-contents/129' class="grid-item"></a>
                </div>
                <div class="grid-container">
                    <a href='/bed-contents/130' class="grid-item"></a>
                    <a href='/bed-contents/131' class="grid-item"></a>
                    <a href='/bed-contents/132' class="grid-item"></a>
                    <a href='/bed-contents/133' class="grid-item"></a>
                    <a href='/bed-contents/134' class="grid-item"></a>
                    <a href='/bed-contents/135' class="grid-item"></a>
                </div>
            </div>
        </div>
    </section>
</html>
