<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Gonna be honest, these first three lines show up whenever I use the built-in shortcut
     for an html header. I'm not sure what they do.-->
    <link rel="shortcut icon" type="image/jpg" href="../static/img/greenhouseFavicon.png" /> <!-- This puts the pretty little rose next to the website name in the tab -->
    <link rel="stylesheet" href="../static/style.css"> <!-- References the style sheets that are used. -->
    <link rel="stylesheet" href="../static/queries.css">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet"> <!-- A google font we decided on -->
    <script type="text/javascript" src="../static/index.js"></script> <!-- references written scripts -->
    <title>Greenhouse Website</title>
</head>
<body>
    <header id="home">
        <nav>
            <div class = "row">
                <ul class="main-nav"> <!-- unordered list = ul, li = elements in the list. Creats the navigation bar. -->
                    <li><a href="/">Home</a></li>
                    <li><a href="/front">Front Room</a></li>
                    <li><a href="/back">Back Room</a></li>
                    <!-- <li><a href="/outside">Outside</a></li> -->
                </ul>
            </div>
        </nav>
        <div class="hero-text-box"> <!-- Textbox for big words at the top of the page -->

            <h1>Welcome to the Southwestern</h1>
            <h1>University Greenhouse!</h1>
            
        </div>
    
    
    </header>
    <section class="about"><!-- The "about us" section. -->
        <h3>About Us</h3>
        <p>This site was made for the Garden Club by a Computer Science capstone in the Spring of 2021. 
            It is a central place where we can track what's growing and where, who watered what and when, 
            and other important information to keep the garden growing. It also includes a database of every plant 
            variety that's been grown in the garden, along with information about  growing seasons, sun preferences,
            water needs, and good companion plants.</p>
    </section>
    <section class = "photos" id = "photos"> <!-- Pretty pictures of the greenhouse! -->
        <div class = "img-box-of-8">
            <img src="../static/img/garden-1.jpeg" class = "photo"> <!-- Each photo has its own class so that we could change the photos outside of the full "photos" section -->
            <img src="../static/img/garden-2.jpeg" class = "photo">
            <img src="../static/img/garden-3.jpeg" class = "photo">
            <img src="../static/img/garden-4.jpeg" class = "photo">
            <img src="../static/img/garden-5.jpeg" class = "photo">
            <img src="../static/img/garden-6.jpeg" class = "photo">
            <img src="../static/img/garden-7.jpeg" class = "photo">
            <img src="../static/img/garden-8.jpeg" class = "photo">
        </div>
    </section>
   
</body>
</html>
