<!DOCTYPE html>
<html lang="en">
<!-- THIS PAGE IS NOT USED. THIS IS SHELL CODE FOR ANYONE WHO WANTS TO ADD THE OUTSIDE PAGE. -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/queries.css">
    <link rel="shortcut icon" type="image/jpg" href="../static/img/greenhouseFavicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,300;0,400;1,300&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="../static/index.js"></script>
    <title>Greenhouse Website</title>
</head>

<body>
    <header id="home">
        <nav>
            <div class="row">
                <ul class="main-nav">
                    <!-- unordered list = ul, li = elements in the list -->
                    <li><a href="/">Home</a></li>
                    <li><a href="/front">Front Room</a></li>
                    <li><a href="/back">Back Room</a></li>
                    <li><a href="/outside">Outside</a></li>
                </ul>
            </div>
        </nav>
        <div class="hero-text-box">

            <h1>You have reached the</h1>
            <h1>Outer Garden!</h1>

        </div>


    </header>
    
    <section class = "outside" id = "outside">
        <h2>Click on the bed you wish to edit</h2>
        <div class="rectangle">Entrance</div>
        <div class="item-box-of-6">
            <div class="item-box-of-2">
                <div class="grid-container-outside">
                    <a href='/bed-contents/300' class="grid-item-outside"></a>
                    <a href='/bed-contents/301' class="grid-item-outside"></a>
                    <a href='/bed-contents/302' class="grid-item-outside"></a>
                    <a href='/bed-contents/303' class="grid-item-outside"></a>
                    <a href='/bed-contents/304' class="grid-item-outside"></a>
                    <a href='/bed-contents/305' class="grid-item-outside"></a>
                </div>
                <div class="grid-container-outside">
                    <a href='/bed-contents/306' class="grid-item-outside"></a>
                    <a href='/bed-contents/307' class="grid-item-outside"></a>
                    <a href='/bed-contents/308' class="grid-item-outside"></a>
                    <a href='/bed-contents/309' class="grid-item-outside"></a>
                    <a href='/bed-contents/310' class="grid-item-outside"></a>
                    <a href='/bed-contents/311' class="grid-item-outside"></a>
                </div>
            <div class="item-box-of-2"></div>
                <div class="grid-container-outside">
                    <a href='/bed-contents/312' class="grid-item-outside"></a>
                    <a href='/bed-contents/313' class="grid-item-outside"></a>
                    <a href='/bed-contents/314' class="grid-item-outside"></a>
                    <a href='/bed-contents/315' class="grid-item-outside"></a>
                    <a href='/bed-contents/316' class="grid-item-outside"></a>
                    <a href='/bed-contents/317' class="grid-item-outside"></a>
                </div>
                <div class="grid-container-outside">
                    <a href='/bed-contents/318' class="grid-item-outside"></a>
                    <a href='/bed-contents/319' class="grid-item-outside"></a>
                    <a href='/bed-contents/320' class="grid-item-outside"></a>
                    <a href='/bed-contents/321' class="grid-item-outside"></a>
                    <a href='/bed-contents/322' class="grid-item-outside"></a>
                    <a href='/bed-contents/323' class="grid-item-outside"></a>
                </div>
            </div>
            <div class="item-box-of-2">
                <div class="grid-container-outside">
                    <a href='/bed-contents/324' class="grid-item-outside"></a>
                    <a href='/bed-contents/325' class="grid-item-outside"></a>
                    <a href='/bed-contents/326' class="grid-item-outside"></a>
                    <a href='/bed-contents/327' class="grid-item-outside"></a>
                    <a href='/bed-contents/328' class="grid-item-outside"></a>
                    <a href='/bed-contents/329' class="grid-item-outside"></a>
                </div>
                <div class="grid-container-outside">
                    <a href='/bed-contents/330' class="grid-item-outside"></a>
                    <a href='/bed-contents/331' class="grid-item-outside"></a>
                    <a href='/bed-contents/332' class="grid-item-outside"></a>
                    <a href='/bed-contents/333' class="grid-item-outside"></a>
                    <a href='/bed-contents/334' class="grid-item-outside"></a>
                    <a href='/bed-contents/335' class="grid-item-outside"></a>
                </div>
            </div>
        </div>
        
    </section>
</body>

</html>
