<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/queries.css">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,300;0,400;1,300&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="../static/index.js"></script>
    <title>Greenhouse Website</title>
</head>

<body>
    <header id="home">
        <nav>
            <div class="row">
                <ul class="main-nav">
                    <!-- unordered list = ul, li = elements in the list -->
                    <li><a href="index.html">Home</a></li>
                    <li><a href="front.html">Front Room</a></li>
                    <li><a href="back.html">Back Room</a></li>
                    <li><a href="outside.html">Outside</a></li>
                </ul>
            </div>
        </nav>
        <div class="hero-text-box">

            <h1>You have reached the</h1>
            <h1>Outer Garden!</h1>

        </div>


    </header>
</body>

</html>