<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" type="image/jpg" href="../static/img/greenhouseFavicon.png" />
<script type="text/javascript" src="../static/bedloader.js"></script>
<body>
    <p>
        {{incorrect}}
    </p>
    <section class="form-class">
        <h1>Please login:</h1>
        <form action="" method="post" role="form" id="main" name="main">
            <label for="name" class="label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Username"
                autocomplete="given-name">
            <br>
            <label for="password" class="label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <br>
            <button type="submit" class="btn-success">Submit</button>
        </form>
    </section>
</body>

</html>